/* ═══════════════════════════════════════════════════════
   СКРОЛЛБАР
═══════════════════════════════════════════════════════ */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cdd1dc;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #adb4c7;
}